* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.flightlistcontainer {
    height: 75vh;
    width: 79%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1 {
    height: 79vh;
    width: 53%;
 margin: 0%;
    list-style-type: none;
   
}

.summary1 {
     border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
     height: 6vh;
    width: 100%;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    align-items: center;
}

.para1 {
    color: black;
    font-size: 13px;
}