* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.headernav {
    width: 100%;
    margin:0%;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(8, 8, 8, 0.297); 
}

.proflieCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 12%;
    height: 9vh;
    padding-right: 2%;

}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 12%;
    height: 9vh;
    padding-left: 2%;
}

.headerlogo {
    height: 3vh;
    width: auto;
}

.headerbutton {
    background-color: white;
    border: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;

}

.profileimg {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid #9d8a87;
    
}
.profileName {
   color: gray;
}

