* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.packagetabsContainer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: auto;
    margin-left: 2%;

}

.withFlightheading {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    align-self: center;
    text-decoration: underline;
}

.withoutFlightheading {
      font-family: 'Arial', sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    align-self: center;
}