* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}


.sidebarContainer {
    height: 89vh;
    width: 16%;
    background-color: #f0f0f071;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0%;
    gap: 10px;
    padding: 2px;
    border: 2px solid lightgray;

}
.menulist {
    list-style-type: none;
    padding: 8px;
    margin: 0%;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: gray;
}

.dashboardlist {
    list-style-type: none;
    padding: 8px;
    margin: 0%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(70, 107, 158);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 50%;
}

.leadslist {
    list-style-type: none;
    padding: 8px;
    margin: 0%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(70, 107, 158);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 50%;
}

.selectOption {
     list-style-type: none;
    padding: 8px;
    margin: 0%;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(70, 107, 158);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
   width: auto; 
    background-color: transparent;
    border: transparent;

}


.leads {
      color: rgb(70, 107, 158);
      background-color: transparent;
      border: transparent;
       
}

.listlead { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding-left: 2%;
    font-size: 15px;
    color: rgb(70, 107, 158);
    width: 70%;

}

.leadscount {
    background-color: greenyellow;
    color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.itinerariesList {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 54%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}
.googleReviewslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 72%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.voucherslist  {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 60%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}
.acountslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 54%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.reportslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 54%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.customersupportlist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 72%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.usercontrollist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 64%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 18px;
}

.usersettingslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 72%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.masterssettingslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 78%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}
    
.hrmlist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 54%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.assetsmanagementlist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 85%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.participantslist     {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 50%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 18px;
}

.itinerarycustomerslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 73%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}


.partnerslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 50%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 18px;
}

.supplierslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 65%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 16px;
}

.miscellaneouslist {
    color: gray;
    font-size: 14px;    
    font-weight: 600;
    width: 78%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    font-size: 18px;
}