*{
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
}

.appContainer {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.appContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
   transition: all 0.5s ease;
  width: 100%;
  height: 100vh;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  height: 119vh;
  width: auto;
  background-color:  #f0f0f071;
  margin: 20px;
  border: 2px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}


.divHolidays {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15vh;
  width: 30%;
  
}

.headingindian {
  background-color: black;
  color: white;
  padding: 10px 20px;
  height: 08vh;
  width: auto;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;


}

.InternationalHolidays {
  border: transparent;
  color: black;
  padding: 10px 20px;
  height: 08vh;
  width: auto;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

}