* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.searchfilterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 19vh;
    width: 80%;
    gap: 2px;
    margin-left: 2%;
}

.destinationinput {
    height: 08vh;
    width: 50%;
    border: 2px solid rgba(128, 128, 128, 0.658);
    background-color: transparent;
    color: rgba(128, 128, 128, 0.658);
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;

}

.tripdate  {
    height: 08vh;
    width: 17%;
    border: 2px solid rgba(128, 128, 128, 0.658);
    background-color: transparent;
    color: rgba(128, 128, 128, 0.658);
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;

}

.selectserch {
    height: 08vh;
    width: 17%;
    border: 2px solid rgba(128, 128, 128, 0.658);
    background-color: transparent;
    color: rgba(128, 128, 128, 0.658);
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;

}

.searchinput {
    height: 08vh;
    width: 10%;
    border: 2px solid rgb(115, 0, 255);
    color: black;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;
}

.labelhotel {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}


.offstar {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    height: 4vh;
    width: 2vw;
    margin-left: 5px;
}


.onstar {
     height: 4vh;
      margin-left: 5px;
    width: 2vw;
    border-radius: 2px;
        background-color: black;
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hostelDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lanchlabekl {
    margin-right: 15px;
    margin-left: 5px;
}

.dinnerlabekl {
   margin-right: 15px;
   margin-right: 5px;
}